[project]
	description = Hip Hop Steps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/csunil
[access "refs/for/refs/*"]
	read = group user/csunil
	push = group user/csunil
	label-Code-Review = -2..+2 group user/csunil
	label-Verified = -1..+1 group user/csunil
	rebase = group user/csunil
	removeReviewer = group user/csunil
	submit = group user/csunil
[access "refs/heads/*"]
	read = group user/csunil
	create = group user/csunil
	push = +force group user/csunil
	pushMerge = group user/csunil
[access "refs/tags/*"]
	push = +force group user/csunil
	pushTag = group user/csunil
	pushSignedTag = group user/csunil
